# build
twine
build

# package-mgmt
pip-autoremove

# debug
icecream
pyperclip

# main
python-dotenv
asyncio
httpx
openai
google-generativeai
grpcio==1.67.1 # 1.68.1 makes unnecessary WORNING, grpcio required by google-generativeai
scipy
boto3
boto3-stubs
beautifulsoup4
types-beautifulsoup4
pillow